[Unit]
Description=homebridge
After=syslog.target network-online.target

[Service]
KillMode=process
Restart=always
RestartSec=10
ExecStart=/opt/nodejs/bin/homebridge
ExecStop=/usr/bin/killall homebridge /home/sei/.config/homebridge/config.json

[Install]
WantedBy=multi-user.target
